*.gitignore filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.docx filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*. Directed filter=lfs diff=lfs merge=lfs -text
*.nb filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.am filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.ac filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.m filter=lfs diff=lfs merge=lfs -text
*.in filter=lfs diff=lfs merge=lfs -text
*.m4 filter=lfs diff=lfs merge=lfs -text
*.0 filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.2 filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.ipp filter=lfs diff=lfs merge=lfs -text
*.guess filter=lfs diff=lfs merge=lfs -text
*.sub filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
*.exmain filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.pbxproj filter=lfs diff=lfs merge=lfs -text
*.ex filter=lfs diff=lfs merge=lfs -text
*.vcxproj filter=lfs diff=lfs merge=lfs -text
*.edgelist filter=lfs diff=lfs merge=lfs -text
*.labels filter=lfs diff=lfs merge=lfs -text
*.vcproj filter=lfs diff=lfs merge=lfs -text
*.edges filter=lfs diff=lfs merge=lfs -text
*.nodefeat filter=lfs diff=lfs merge=lfs -text
*.nodefeatnames filter=lfs diff=lfs merge=lfs -text
*.filters filter=lfs diff=lfs merge=lfs -text
*.user filter=lfs diff=lfs merge=lfs -text
*.circles filter=lfs diff=lfs merge=lfs -text
*.feat filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.features filter=lfs diff=lfs merge=lfs -text
*.dot filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ps filter=lfs diff=lfs merge=lfs -text
*.hg filter=lfs diff=lfs merge=lfs -text
*. filter=lfs diff=lfs merge=lfs -text
*.tree filter=lfs diff=lfs merge=lfs -text
*.hgignore filter=lfs diff=lfs merge=lfs -text
*.hgtags filter=lfs diff=lfs merge=lfs -text
*.net filter=lfs diff=lfs merge=lfs -text
